.header {
    height: rem(90px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    z-index: 1000;
    width: 100%;
    background-color: #FFF5F9;
}

.link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: x-large;
    transition: color 250ms ease-in-out;

    @mixin hover {
        color: hotpink;
    }

    @media (max-width: $ mantine-breakpoint-sm) {
        height: rem(42px);
        width: 100%;
        font-size: xx-large;
    }
}
